body{
    background-color: antiquewhite;
}

.nofound{
    text-align: center;
    margin: 0px;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    font-size: 45px;
    min-font-size: 30px;
    max-font-size: 50px;
    font-family: "Comic Sans MS";
    font-weight: bolder;
}